<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="icon" href="/assets/cropped-icon-512-32x32.png" sizes="32x32">
  <link rel="icon" href="/assets/cropped-icon-512-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon" href="/assets/cropped-icon-512-180x180.png">
  {%- feed_meta -%}
</head>
