---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%d.%m.%Y" }}
          {% if post.categories and post.categories.size > 0 %} •
            {{ post.categories | join: ", " }}
          {% endif %}
          {% if post.title == "" %} •
            <a class="post-link-icon" href="{{ post.url | relative_url }}">
              🔗
            </a>
          {% endif %}
        </span>
        {% if post.title %}
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h3>
        {% endif %}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
